*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Playfair Display', serif;
	background-repeat: no-repeat;
}
.wrapper{
	width: 99vw;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.paralax_image{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	height: 100vh;
	width: 99vw;
}
.header{

	display: flex;
	position: fixed;
}
.nv>a{
	background: -webkit-linear-gradient(#eee, 	#E6E6FA);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	color: white;
	list-style: none;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;

}
.navigations{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 99vw;
}
.nv{
	margin-right: 25px;
}
.paralax_image:nth-child(1) {
background-image: linear-gradient(to right top, #4a4a4a, #4d4c4d, #504e4f, #545050, #565351, #575451, #575652, #575753, #575753, #575752, #565652, #565651);
}
.paralax_image:nth-child(2) {
	background-image: linear-gradient(to top, #f7f8f0, #f7f8ef, #f7f8ee, #f7f7ed, #f7f7ec, #f4f4e9, #f1f1e6, #eeeee3, #e7e7dd, #e0e0d8, #d9d9d2, #d2d2cd);
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.paralax_image:nth-child(3) {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	flex-direction: column;
	background-image: linear-gradient(to right top, #4a4a4a, #4d4c4d, #504e4f, #545050, #565351, #575451, #575652, #575753, #575753, #575752, #565652, #565651);
}
.logo > img{
	width: 50px;
	height: 50px;
	
}
.bg{
	display: flex;
	width: 99vw;
	height: 100%;
}
.info{
	width: 50%;
	height: 100%;
display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.info>h1{
	color: white;
	margin: 15px;
}
.fotome{
	width: 50%;
	height: 100%;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.omg{
	height:50%;
	width: 50%;
	border-radius: 100%;
	background: yellow;
	background-image: url(../img/photo0.jpg);
	background-size: 100%;
	filter: blur(0.8px);
}
.omg:hover{
	filter: blur(0px);
}
 .random > h1{
	color: black;
	text-align: center;
}
.random{
	padding: 30px;

}
.randomp > p{
	color:black;
	text-align: center;
	font-size: 1.5vw;
	padding: 5px;
	margin-top: 10px;
	
}
.randomp{
	width: 500px;
	align-self: center;
}
.skills{
	width: 30vw;
	margin: 60px auto;
	color: white;
	justify-content: center;
	align-items: center;
	
}
.skills li{
	margin: 20px 0;
	list-style: none;
}
.skills h1{
	text-align: center;
}
.bar{
	background: #353b48;
	display: flex;
	flex-direction: column;
	height: 2px;
	border: 1px solid rgba(0, 0, 0, 0.3)
	border-radius:3px;
	overflow: hidden;
	box-shadow:  0 0 10px #2187e7b3;
}
.bar span{
	height: 2px;
	float: left;
	background: #2187e7 ;
}
.html{
	width: 90%;
	animation: html 2s;
	animation-delay:1s;
}
.css{
	width: 60%;
	animation: css 2s;
	animation-delay:1s;

}
.js{
	width: 30%;
	animation: js 2s;
	animation-delay:1s;
}
.tm{
	width: 95%;
	animation: tm 2s;
	animation-delay:1s;
}
.tl{
	width: 100%;
	animation: tl 2s;
	animation-delay:1s;
}

@keyframes html {
	0%{
		width: 0%
	}
	100%{
		width:90%; 
	}
}
@keyframes css {
	0%{
		width: 0%
	}
	100%{
		width:60%; 
	}
}
@keyframes js {
	0%{
		width: 0%
	}
	100%{
		width:30%; 
	}
}
@keyframes tm {
	0%{
		width: 0%
	}
	100%{
		width:95%; 
	}
}
@keyframes tl {
	0%{
		width: 0%
	}
	100%{
		width:100%; 
	}
}
@media only screen
and (max-width: 721px) {
	.bg{
		flex-direction: row;
		flex-wrap: wrap;

	}
	.randomp > p{
	font-size: 4vw;
}

	.nv a{
		background: -webkit-linear-gradient(black, 	#000);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4vw;
	}
}

@media only screen
and (max-width: 521px) {
	.randomp > p{
	font-size: 4vw;
}

	.bg{
		flex-direction: column-reverse;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		height: 55vh;
	}
	.nv>a{
		color: black;
	}
	.cv_bt{

		justify-content: center;
		align-items: flex-end;
	}
	.paralax_image:nth-child(1) {
      height: 100%;
}
.info{
	width: 100%;
}
.omg{
	filter: blur(0px);
	width: 70%;
	height: 70%;
	border-radius: 0px;:
	border:10px solid white; 
	align-self: flex-end;
}
.info>h1{
	font-size: 4vw;
}

}
@media only screen
and (min-width: 121px)
and (max-width: 400px) {
	.bg{
		flex-direction: column;
		flex-wrap: nowrap;

	}
	.nv>a{
		color: black;
	}
	.paralax_image:nth-child(1) {
      height: 100%;
}
.paralax_image:nth-child(2) {
     
      flex-direction: column;
      padding: 10px;
}


}