*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Playfair Display', serif;
	background-repeat: no-repeat;
}
.wrapper{
	width: 99vw;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.paralax_image{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	height: 100vh;
	width: 99vw;
}
.header{

	display: flex;
	position: fixed;
}
.nv>a{
	background: -webkit-linear-gradient(#eee, 	#E6E6FA);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	color: white;
	list-style: none;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;

}
.navigations{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 99vw;
}
.nv{
	margin-right: 25px;
}
.paralax_image:nth-child(1) {
background-image: linear-gradient(to right top, #728aae, #6ea3b8, #81b9b9, #a6ccb7, #d2dcbd);
}
.paralax_image:nth-child(2) {
	
	
}

.paralax_image:nth-child(3) {
	
}
.logo > img{
	width: 50px;
	height: 50px;
	
}
.bg{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

}
.rhombus{
	width: 25vh;
	height: 25vh;
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.filter{
	width: 100%;
	height: 100%;
	background: white;
	filter: blur(15px);
	opacity: 0.2;
}
.rhombus>h2{
	position: absolute;
	text-align: center;
	
	color: 	white;

}
@media only screen
and (max-width: 721px) {
	.bg{
		flex-direction: row;
		flex-wrap: wrap;
		
	}

	.nv a{
		background: -webkit-linear-gradient(black, 	#000);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4vw;
	}
}

@media only screen
and (max-width: 521px) {
	.bg{
		flex-direction: column;
		flex-wrap: nowrap;
	}
	.nv>a{
		color: black;
	}
	.paralax_image:nth-child(1) {
      height: 100%;
}
}
@media only screen
and (min-width: 121px)
and (max-width: 400px) {
	.bg{
		flex-direction: column;
		flex-wrap: nowrap;
	}
	.nv>a{
		color: black;
	}
	.paralax_image:nth-child(1) {
      height: 100%;
}
}
